<section class="quiz_section container-fluid">


  <form action="/dashboard" class="quizForm">
    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Result</h5>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    {{#each quiz}}

    <div class="card text-left quiz">
      <h1 class="tag-round rounded-circle"><span class="badge badge-primary">{{add @index 1}}/5</span></h1>
      <div class="card-header text-center">
        <h4 class="card-title">
          {{{question}}}
        </h4>
      </div>
      <div class="img-Wrap">
      </div>
      <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
        {{#each option}}

        {{#if (equality ../answer (add @index 1))}}

        <label class="btn btn-secondary" for="answer{{add @index 1}}">
          <input type="radio" class="custom-control-input correct" id="answer{{add @index 1}}"
            name="answer{{add @../index 1}}" />
          {{{title}}}
        </label>

        {{else}}

        <label class="btn btn-secondary" for="answer{{add @index 1}}">
          <input type="radio" class="custom-control-input" id="answer{{add @index 1}}"
            name="answer{{add @../index 1}}" />
          {{{title}}}
        </label>

        {{/if}}

        {{/each}}
      </div>
    </div>
    {{/each}}
    <div class="card-body">
      <div class="btn-section mb-3">
        <a id="submit" class="btn btn-primary mx-auto" href="#" role="button" data-toggle="modal"
          data-target="#exampleModal">Submit</a>
      </div>
      <div class="btn-section text-center">
        <div class="btn btn-warning d-inline" id="prev">Prev</div>
        <div class="btn btn-info d-inline" id="next">Next</div>
      </div>
    </div>
  </form>
</section>